teams_webhook: https://outlook.office.com/webhook/
s3_bucket: vending-machine-json-input
default_org_admin_role: OrganizationsAccount
iam_user_access_to_billing: ALLOW
loglevel: INFO
ses_account: 123456789012
ses_role: SESSNSSenderRole
ses_region: eu-west-1
from_email: noreply@test.com
reply_to_email: aws@test.com